PORT=3000
HOST=0.0.0.0
CORS_ORIGINS=http://localhost:8080
APP_ENV=development
MONGO_URI=mongodb://saveyour:change-this-password@127.0.0.1:27017/saveyour-tech?authSource=admin
MONGO_DATABASE=saveyour-tech
